html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*reset page parameters*/

body{
    background-color: #3D3B39;
}

/*header styles*/
.header_img{
    background: linear-gradient(rgba(75,123,97, 33%),rgba(75,123,97, 33%)) , url(../imagenes_programacion/header_imagen.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    height: 100vh;
}

.titulo_page{
    font-size: 56px;
    color: #E4E7C7;
    font-family: 'Alata', sans-serif;
    position: absolute;
    left: 35%;
    top: 40%;
}

/*header styles*/

/*main styles*/

.img_main{
    width: 50%;
    box-shadow: 30px 4px 4px rgba(0, 0, 0, 25%);
    float: left;
    margin-right: 5%;
    margin-bottom: 3%;
    max-width: 100%;
    

}


.titulo_main{
    color: #ffff;
    font-family: 'Alata', sans-serif;
    font-size: 36px;
    padding: 0px 0px 52px 0px;
    font-weight: bold;
}

p{
    color: #ffff;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    
}

.wrapper{
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 20px 20px auto;
    width: 50%;
    margin-left: 220px;
}

.content{
    margin: 10px 1000px 10px 190px;
    width: 120%;
    height: 40%;
    text-align: center;
}

/*main styles*/

/*nav styles*/

.container_menu{
    width: 100%;
    height: 50px;
    background: #ffff;
    margin: 0px;
    position: sticky;
    top: 0;
}

.menu{
    max-width: 1200px;
    margin: 0px 290px;
    height: 100%;
}

.menu_list{
    display: flex;
    justify-content: space-around;
}

nav{
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
}

nav  ul  li{
    list-style: none;
    height: 100%;
    position: relative;
}

nav > ul > li > a{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 5px;
    padding: 0px 30px 0px 30px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    transition: all 300ms ease;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    border-radius:4px;
    background: #B9B9BA;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*hide submenu */
nav ul li ul{
    width: 110%;
    display: flex;
    flex-direction: column;
    background: #ffff;
    border-radius:0px 0px 5px 5px;
    position: absolute;
    top: 40px;
    left: -5px;
    padding: 0px 0px 0px 6px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}
/*hide submenu */

/*Hovering the cursor over the content shows the dropmenu*/
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 50px;
}
/*Hovering the cursor over the content shows the dropmenu*/

/*styles nav*/

nav ul li ul li a{
    display: flex;
    justify-content: center;
    color: #000000;
    padding: 6px 6px 6px 6px;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
}

nav ul li ul li a:hover{
    background: #B9B9BA;
    transform: scale(1.1);
    padding-left: 32px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*styles nav*/


/*footer styles*/

footer{
    background: #ffff;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0px 0 0px 0px;
}

/*footer styles*/


/*styles of the footer of the networks  */


#footer_text{
    color: #000000;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

#gmail_logo{
    width: 2%;
    padding: 30px 10px 5px 50px;
    transition: all 300ms ease;
}

#in_logo{
    width: 2%;
    padding: 30px 10px 5px 50px;
    transition: all 300ms ease;
}

#instagram_logo{
    width: 2%;
    padding: 30px 10px 5px 50px;
    transition: all 300ms ease;
}

#twitter_logo{
    width: 2%;
    padding: 30px 10px 5px 50px;
    transition: all 300ms ease;
}

#telefono_logo{
    width: 2%;
    padding: 30px 10px 5px 50px;
    transition: all 300ms ease;
}

#link_gmail :hover{
    transform: scale(1.1);
}

#link_in :hover{
    transform: scale(1.1);
}

#link_instagram :hover{
    transform: scale(1.1);
}

#link_twitter :hover{
    transform: scale(1.1);
}

#link_telefono :hover{
    transform: scale(1.1);
}

/*styles of the footer of the networks  */

/*responsive styles*/

@media screen and (max-width:768px){

    .titulo_main{

        padding: 0px 0px 52px 300px;
    }

    .img_main{
        width: 100%;
        float: inline-end;
        margin-right: 0;
        margin-bottom: 220px;
    }
/*estilos de los contenidos*/
    .content{
        margin: 10px 1000px 10px 150px;
        width: 60%;
        
    }

    div p {
        padding-left: 40px;
        width: 100%;
    }
    
    .wrapper{
        width: 100%;
        margin: 0 auto;
        
    }

    p {
        font-size: 20px;
        width: 50%
    }

    #footer_text{
        padding: 10px 0 10px 200px;
    }

    #gmail_logo{
        width: 4%;
        padding: 30px 10px 5px 50px;
        transition: all 300ms ease;
    }
    
    #in_logo{
        width: 4%;
        padding: 30px 10px 5px 50px;
        transition: all 300ms ease;
    }
    
    #instagram_logo{
        width: 4%;
        padding: 30px 10px 5px 50px;
        transition: all 300ms ease;
    }
    
    #twitter_logo{
        width: 4%;
        padding: 30px 10px 5px 50px;
        transition: all 300ms ease;
    }
    
    #telefono_logo{
        width: 4%;
        padding: 30px 10px 5px 50px;
        transition: all 300ms ease;
    }
}

/*responsive styles*/

@media screen and (max-width:412px){

    .titulo_main{

        padding: 0px 0px 52px 300px;
    }



    .img_main{
        width: 100%;
        float: inline-end;
        margin-right: 0;
        margin-bottom: 220px;
    }

    .content{
        margin: 10px 1000px 10px 150px;
        width: 60%;
        
    }

    div p {
        padding-left: 40px;
        width: 100%;
    }
}